# Python
.venv/
venv/
__pycache__/
*.pyc

# Data
chroma_data/
documind.db
uploads/

# Scraper output
wikisource_text.txt
wikisource_screenshot.png

# Secrets
.env

# IDE
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/