# Python
.venv/
venv/
__pycache__/
*.pyc

# Data
**/chroma_data/
**/documind.db
**/uploads/
**/output.txt
**/frontend_output.txt

# Secrets
**/.env

# IDE
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/